.vscode
.tmp.drivedownload
/.tmp.drivedownload
.tmp.driveupload
/.tmp.driveupload
*.log
/Medios
/Medios_old
/Libraries/vendor
/Libraries/node_modules
/app/vendor
/app/node_modules
/app/resources/github
/vendor/
.env
/node_modules
/public/vendor
/public/node_modules